/* register.css */

body {
    font-size: 16px; /* 调整全局字体大小 */
    background-color: #f8f9fa; /* 设置背景颜色为浅灰色 */
}

.card {
    background-color: #ffffff; /* 卡片背景颜色 */
    border: none; /* 去掉默认边框 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    padding: 20px; /* 卡片内边距 */
    max-width: 400px; /* 最大宽度 */
    margin: 0 auto; /* 水平居中 */
}

.card h1 {
    font-size: 24px; /* 调整标题字体大小 */
    margin-bottom: 20px; /* 标题下方间距 */
    text-align: center; /* 标题居中 */
}

.form-control {
    font-size: 16px; /* 调整输入框字体大小 */
    margin-bottom: 15px; /* 输入框下方间距 */
}

.btn-primary {
    font-size: 16px; /* 调整按钮字体大小 */
    width: 100%; /* 按钮宽度占满父容器 */
    color:#595959;
}
